.isletme-giris-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 20px;
}

/* Form Kartı */
.form-card {
  background-color: #283646;
  color: white;
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.form-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d8c4b6;
}

/* Input Alanları */
.isletme-form .ant-form-item-label > label {
  color: white;
}

.isletme-form .ant-input,
.isletme-form .ant-select-selector {
  background-color: white;
  color: black;
}

.isletme-form .ant-select-arrow {
  color: black;
}

/* İşlem Alanları */
.islem-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #d8c4b6;
}

/* İşlem Ekle Butonu */
.islem-ekle {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  color: black;
}

.islem-ekle:hover {
  background-color: #d8c4b6;
}

/* Fotoğraf Yükleme */
.ant-upload-list-picture .ant-upload-list-item {
  background-color: white;
}

/* Kaydet Butonu */
.kaydet-button {
  width: 100%;
  background-color: #d8c4b6;
  color: black;
  font-weight: bold;
}

.kaydet-button:hover {
  background-color: #b39a87;
}